* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: auto;
}

h1 {
  text-align: center;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

header > nav > ul > li {
  list-style: none;
  display: inline;
  margin: 5px;
  font-size: 1.2em;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
}

main > aside > ul > li {
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main > aside > ul > li:before {
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url(./img/frosted-cookie.jpg);
}

main > aside > ul > ul > li {
  list-style: none;
  font-family: fantasy;
}

main > article > section {
  width: 75%;
  float: right;
  padding-left: 30px;
}

footer {
  clear: both;
}
